{{#form}}
<div class="box py-3 generalbox submissionaction">
    <div class="singlebutton">
        <a href="/mod/edwiserform/view.php?id={{{modinstance}}}" class="btn btn-secondary">Edit submission</a>
    </div>
    <div class="singlebutton">
        <a href="/mod/edwiserform/view.php?id={{{modinstance}}}" class="btn btn-secondary">Remove submission</a>
    </div>

</div>
{{/form}}