
<tr class="lastrow">
<th class="cell c0"scope="row"><h3>Reflections</h3></th>

<td class="cell c1 lastcol">
{{#data}}<div class="box py-3 boxaligncenter plugincontentsummary">
<p><strong>{{{label}}}</strong></p>
<p dir="ltr" style="text-align:left;">{{{value}}}</p></div>
{{/data}}
</td>

</tr>
</tbody>

</table>


</div>
