<div class="card p-4">
<h3>Submission:</h3>
{{#data}}<div class="box py-3 boxaligncenter plugincontentsummary">

    <p><strong>{{{label}}}</strong></p>
    <p dir="ltr" style="text-align:left;">{{{value}}}</p></div>
{{/data}}