<div data-region="grade-panel" class="fullwidth mt-4">
    <div data-region="grade">

    {{#status}}
        <h3>Current Status: {{{status}}}</h3>
        <p><strong>Last Modified:</strong> {{{date}}}</p>
    {{/status}}
    </div></div>

